################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeradorDeApostas/FileContentIndex
/GeradorDeAposta/.vs/GeradorDeAposta/DesignTimeBuild
/GeradorDeAposta/.vs/GeradorDeAposta/FileContentIndex
